.page-wrapper {
  display: grid;
  grid-template-rows: minmax(calc(100vh - 100px), auto) 100px;
}

.page-wrapper__header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--gray-color);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background: white;
}

.page-wrapper__header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-wrapper__header__control-block {
  display: flex;
}

.page-wrapper__header__control-block button {
  margin-left: 20px;
  min-width: 80px;
}

.page-wrapper__main {
  margin-top: 100px;
}

.page-wrapper__footer {
  background: var(--dark-gray-color);
}

@media screen and (max-width: 480px) {
  .page-wrapper__header__logo {
    width: 90px;
    height: auto;
  }

  .page-wrapper__header__control-block button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .page-wrapper__header {
    height: 75px;
  }

  .page-wrapper__main {
    margin-top: 75px;
  }
}
