.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu.container {
    padding: 10px;
  }
}
