@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root {
  --primary-color: #fc6921;
  --primary-hovered-color: #e25f1e;
  --error-color: #f55844;
  --error-background-color: #ffe0dc;
  --gray-color: #e6e6e6;
  --gray-font-color: #bebebe;
  --dark-gray-color: #6b6b6b;
  --border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.container h1 {
  font-size: 2.3rem;
  font-weight: 400;
}

.container h2 {
  font-size: 2rem;
  font-weight: 400;
}

* {
  outline: none;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1rem;
}

.primary-button {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}

.primary-button:hover,
.primary-button--active {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.primary-button--active:hover {
  background: var(--primary-hovered-color);
  color: white;
}

.primary-button:disabled {
  color: var(--gray-font-color);
  border-color: var(--gray-font-color);
  cursor: not-allowed;
}

.primary-button:disabled:hover {
  background: none;
}

.secondary-button {
  border: 1px solid var(--gray-color);
  background: none;
}

.secondary-button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.none {
  display: none;
}

.modal h1 {
  font-weight: 400;
}

.form__field {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form__field input {
  border: 1px solid var(--gray-color);
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  transition: all 0.5s;
  margin-left: 20px;
  width: auto;
}

.form__field input:focus {
  border-color: var(--primary-color);
}

.form__field .error,
.form__field .error:focus {
  border-color: var(--error-color);
  background: var(--error-background-color);
}
